{% extends "layout.html" %}

{% block title %}
    Delete A Team
{% endblock %}

{% block main %}
    <div>
        <div class="text-center reminder">
            <p>Please carefully CONSIDER before DELETE a team!</p>
        </div>
        <form action="/delete_team" method="post">
            <input type="text" id="team_name" required name="team_name" class="form-control mx-auto w-auto" autofocus autocomplete="off" placeholder="Team's name">
            <input type="submit" id="sub-btn" value="Delete">
            <div class="confirmation">
                <p>Please comfirm the deletion of the team:</p>
                <div class="form-check form-check-inline">
                    <input type="radio" name="confirm" id="yes" value="yes">
                    <label for="yes">Yes</label>
                    <input type="radio" name="confirm" id="no" value="no">
                    <label for="no">No</label>
                </div>    
            </div>
        </form>
        <div class="text-center reminder text-muted">
            <p>Warning: Delete a team mean every member doesn't belong to a team any more!</p>
        </div>
    </div>
{% endblock %}