h1 {
    background-color: rgb(29, 25, 25);
    color: rgb(242, 239, 239);
    position: relative;
    margin-bottom: 0%;
}

.resize {
    background-color: #f8f9fa;
    height: 20px;
    position: relative;
}

.header {
    height: 40px;
    position: center;

}