{% extends "layout.html" %}

{% block title %}
Change
{% endblock %}

{% block main %}
    <h4>Enter old password</h4>
    <form action="/change" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="old" name="old" placeholder="Old password" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="new" name="new" placeholder="New password" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="confirm" name="confirm" placeholder="Retype new password" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Change</button>
    </form>
{% endblock %}